@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #283C8E;

  --primary-color-light: #606bb1;
  --secondary-color: #49985A;
  --secondary-color-light: #6abf7c;
  --secondary-color-dark: #3b7a4a;
  --text-color: #ffffff;
  --text-color-secondary: #000000;
}

html {
  font-size: 14px;
}

body {
  background: linear-gradient(to right, #283C8E, #49985A);
  color: #fff;
  font-family: "DM Sans", sans-serif;
}
.sticky-top{
  position: sticky;
  top: 0;
  z-index: 1000;
}
.badge{
  background-color: var(--secondary-color-dark);
  border: solid 2px var(--secondary-color);
  height: 3em;
  color:white;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: .25em;
  transition: all 0.15s ease-in-out;
 
}
.hidden {
  display: none;
}
.dflex {
  display: flex;
}
#badgeAlerta {
  width: 100%;
  margin: auto;
 justify-content: space-between; align-items: center;
}
.btn-close {
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.3em;
  cursor: pointer;
}


.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 1000;
  font-style: normal;
}

.box {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.fila {
  width: 100%;
  background: linear-gradient(to left, #fff3, #fff0);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4.5em;
  gap: 1em;
  padding: .5em 2.5em;

  img {
      width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1 !important;
    flex: 0 0 60px;
  }
}
.imageTutorial {
  margin-top: .5em;
  width: 100%;
  height: 100%;
  padding: .5em;
  background-color: white;
  border-radius: .5em;
  margin-bottom: 12em;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;}
}

.logo {
  width: 100%;
  flex: 0 0 40px;
  padding: 2em 2em 0em 2em;

  img {
    object-fit: cover;
    height: 50px;
  }
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-700 {
  font-weight: 700;
}

.fs-1 {
  font-size: 2em;
}

.fs-2 {
  font-size: 1.5em;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1.5em;
}
.mt-1 {
  margin-top: .5em;
}
.mt-3 {
  margin-top: 1.5em;
}

.mt-5 {
  margin-top: 2em;
}

.form-label {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.form-control {
  font-size: 1.2em;
}

.inputDNI {
  border-radius: .25em;
  border: solid 6px var(--secondary-color);
  font-weight: 700;
  text-align: center;
  padding: 0.5em 1em;
  max-width: 15ch;
  color: var(--primary-color);
  font-size: 2.5em;
}

.inputDNI:disabled {
  background: white;
  color: var(--text-color-secondary);
  font-size: 2.9em;
}

.inputDNI:focus {
  outline: none;
  color: var(--primary-color);
  border-color: var(--primary-color-light);
}

.inputDNI::placeholder {
  color: var(--primary-color-light);
  font-weight: 300;
  font-size: .8em;
  text-transform: uppercase;
}

.ingresarBtn {
  background: var(--secondary-color);
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.5em 2em;
  border-radius: .25em;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.ingresarBtn:hover {
  background: var(--secondary-color-dark);
  color: var(--text-color);
  box-shadow: 0 0 10px var(--secondary-color-light);
}

main {
  width: 100%;
  text-align: center;
  padding: 1.5em;
}

footer {
  position: fixed;
  min-height: 20vh;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: visible;


  .azul {
    background: var(--primary-color);
    min-height: 10px;
    width: 100%;
    display: flex;
    height: 100%;
    flex: 1;
  }


}

img.ondaInferior {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  max-height: 200px;


}

.fAlerta {
  position: absolute;
  bottom: 1.5em;
  margin: auto;
  text-align: left;
  padding: 0 3em;
  font-size: 1.4em;

}

.mayuscula {
  text-transform: uppercase;
}